.header {
  padding-top: 45px;
  padding-bottom: 34px;
}

.uk-container {
  /* background: rgba(255, 255, 255, 0.7); */
  /* border: 6px solid #ffffff;
  backdrop-filter: blur(21px);
  border-radius: 45px;

  padding: 0; */
}
.header__logo {
  & img {
    height: 72px;
    width: 126px;
  }
}
.uk-navbar-container {
  background: rgba(255, 255, 255, 0.7);
  border: 6px solid #ffffff;
  backdrop-filter: blur(21px);
  border-radius: 45px;

  min-height: 107px;
  padding: 0 25px 0 0;
}
.uk-active {
  padding: 0 15px;
}

.uk-navbar-nav>li>a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-transform: none;
  color: #000000!important;
}

.header__lang-btn {
  width: 136.06px;
  height: 59px;
  background: linear-gradient(0deg, #fe5e7a, #fe5e7a), #2ab590;
  box-shadow: 0px 31px 45px -18px rgba(89, 86, 233, 0.44);
  border-radius: 1111px;
  border: none;

  margin-left: 27px;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #fff;

  position: relative;
}

.header__pills {
  position: absolute;
  top: 0;
  left: 25%;
}

.header__cursor {
  position: absolute;
  top: 90%;
  right: -51%;
  z-index: 1;
  width: 135px;
  height: 160px;
}