// da diagnose article
.da {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  .block__wrapper {
    padding: 48px 52px 50px 52px;
    margin-bottom: 67px;
    @media (max-width: 768px) {
      padding: 20px 30px 20px 30px;
    }
  }
  .block__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #415466;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 1.1;
      margin-bottom: 15px;
    }
  }

  .block__subtitle {
    font-family: "Montserrat", sans-serif;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.1;
    }
  }

  &__tag {
    box-shadow: 0px 15px 15px rgba(254, 94, 122, 0.31);
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    
    transition: transform .5s linear;
    &:hover {
      @media (min-width: 1199.5px) {
        transform: translateY(-5px);
      }
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.1;
      margin-top: 5px;
    }
  }

  &__content {
    margin: 47px 0 20px 0;

    font-size: 20px;
    line-height: 39px;
    color: #000000;
    
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
      margin: 20px 0 20px 0;
    }
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }

  // anim
  & .anim__background-mask {
    top: -105px;
    left: -140px;
  }
  & .block__background-anim {
    position: relative;
    & .anim__bg-atom {
      position: absolute;
      top: -140px;
      right: -220px;
    }
  }

  // Laboratory diagnostic
  .lab__diag {
    .block__tag {
      position: absolute;
      top: 35px;
      right: 15px;
      box-shadow: 0px 5px 15px rgba(236, 87, 115, 0.3);
      @media (max-width: 1280px) {
        top: -10px;
        font-size: 16px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  &__treatment {
    .da__title-map {
      margin-top: 0px;
    }
  }

  // accordion FAQ
  .accordion__items-element .accordion__item-content {
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  .accordion__items-element .accordion__item-title, .accordion__items-element .accordion__item-title:focus, .accordion__items-element .accordion__item-title:hover {
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  // accordion btns
  .accordion__btns .btn {
    color: #ffffff;
    box-shadow: 0px 15px 15px rgba(254, 94, 122, 0.31);
    background: #fe5e7a;
    padding: 10px 19px;
    @media (max-width: 768px) {
      padding: 8px 10px;
      font-size: 12px;
      line-height: 1.1;
    }
    &:hover {
      background: #0d1026;
      box-shadow: 0px 15px 15px rgba(36, 36, 36, 0.31);
      color: #fff;
    }
  }
  .uk-subnav-pill > .uk-active > a {
    background: #0d1026;
    box-shadow: 0px 15px 15px rgba(36, 36, 36, 0.31);
    color: #fff;
  }

  // consultation
  .da__consult {
    padding-bottom: 136px;
    @media (max-width: 768px) {
      padding-bottom: 50px;
    }
    &-card {
      font-family: "Poppins", sans-serif;

      padding: 28px 28px;
      border-radius: 12px;
      min-height: 90px;
      @media (max-width: 768px) {
        padding: 15px 15px;
      }
      &-icon {
        margin-right: 10px;
        min-width: 39px;
      }
      &-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      &-text {
        font-size: 17px;
        line-height: 158.7%;
        letter-spacing: 0.12px;
        color: #363049;
        opacity: 0.7;
        
        @media (max-width: 768px) {
          font-size: 14px;
        }
        &:last-child {
          word-break: break-all;
        }
      }
    }
    // changing gap between cards
    .uk-grid {
      @media (max-width: 1440px) {
        margin-left: -15px;
      }
      &>*{
        @media (max-width: 1440px) {
          padding-left: 15px;
        }
      }
    }
    *+.uk-grid-margin {
      @media (max-width:1440px) {
        margin-top: 15px;
      }
    }
  }
}
