.experts__swiper {
  width: 100%;
  padding-bottom: 150px;
  position: relative;
  padding-top: 220px;
  background: #fff;
  position: relative;
  &-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2c2e31;
    margin-bottom: 30px;
    @media (max-width: 998px) {
      font-family: "Poppins", sans-serif;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 15px;
    }
  }

  &-slider {
    max-width: 1700px;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 25px;
  }

  &-slide {
    & > .uk-card {
      height: 491px;
      padding: 33px 10px 11px 10px;
      border-radius: 24px;
      background: #e7efff;
      backdrop-filter: blur(9.61891px);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &-content {
    padding: 25px 30px;
    border-radius: 24px;
    background: #fff;
    width: 300px;
    height: 200px;
    margin-top: 31px;

    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17.4921px;
    line-height: 99.33%;

    color: #3a62b4;
  }

  &-name {
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;

    color: #292930;
  }

  &-description {
    font-size: 16.1072px;
    line-height: 24px;

    color: #999fae;
  }

  &-TopB {
    height: 150px;
    width: 100%;
    clip-path: ellipse(51% 70% at 50% 13%);
    position: absolute;
    top: 0px;
    left: 0;
    background: #f7fafe;
  }

  // rectangle blue
  &-bg {
    box-sizing: border-box;
    position: absolute;
    top: -700px;
    left: -30px;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #40a0f0;
    border-radius: 10px;
    opacity: 0.2;
    transform: rotate(37deg);
    & > span {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 10px;
    }
  }
  &>.anim__background {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 248px;
      height: 248px;
    }
  }
}

.swiper-slide-next,
.swiper-slide-active,
.swiper-slide-prev {
  opacity: 1;
}

.experts__swiper-pagination {
  width: 100%;
  bottom: 100px;

  & > .swiper-pagination-bullet {
    opacity: 1;
    height: 6px;
    width: 29px;
    border-radius: 6px;
    background: #ccd1e6;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &-active {
      background: #f97d5f;
    }
  }
}
