/* INTRO Content */
.intro {
  padding: 0 0 64px 0;
}

.intro__table {
  width: 100%;
  background: #fff;
  border-top: 6px solid #ffffff;
  box-shadow: 0px 12px 54px rgba(45, 71, 97, 0.07);
  border-radius: 45px;
}

.uk-first-column {
  padding: 0 !important;
}

.intro__table-row {
  padding: 57px;
  margin: 0 !important;
}

// --------------1st row intro of table -----------------
.intro__table-item {
  background: linear-gradient(175.25deg, #d6fbff 2.38%, #adebfe 96.16%);
  border-radius: 23px;
  height: 100%;
}

.intro__table-row1 {
  &>.intro__table-column {
    height: 757px;
  }

  /* ------------1nd column ------------*/
  &>.intro__table-column:nth-child(1) {
    position: relative;

    &>.intro__table-item {
      &>p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 46px;
        max-width: 331px;
        margin-left: 20px;
        color: #006379;
      }

      & img {
        position: absolute;
        bottom: 0;
        left: -5px;
        min-width: 120%;
        height: auto;
        z-index: 1;
      }
    }
  }

  /* ------------2nd column 1st row (1st card) ------------*/
  &>.intro__table-column:nth-child(2) {
    display: flex;
    flex-direction: column;

    &>.intro__table-item:nth-child(1) {
      margin-bottom: 36px;
      height: 50%;
      background: linear-gradient(135.82deg, #ffefd8 19.8%, #f7cf99 79.6%), #e6ebf0;
      border-radius: 23px;

      &>p {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 46px;

        text-align: left;
        color: #aa6200;
        margin: 20px 0 0 15px;
      }

      // ----------1st card in 2nd column------------
      .intro__table-cardContent {
        display: inline-flex;
        position: relative;
        margin: 35px auto 0 15px;

        &>h1 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 232.449px;
          line-height: 66.4%;

          color: #f8d09a;
          margin: 0;
        }

        &>h2 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 41px;
          line-height: 61px;
          text-align: right;
          color: #aa6200;

          margin: 110px 0 0 10px;
        }
      }
    }

    // ----------2nd card in 2nd column---------------
    &>.intro__table-item:nth-child(2) {
      height: 50%;
      background: url('../img/Computer.png') bottom right no-repeat, (linear-gradient(135.82deg, #D7FFF5 19.8%, #ABFEE5 79.6%), #E6EBF0);

      &>p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        margin: 150px 0 0 0;
        max-width: 290px;
        color: #008C66;
      }
    }
  }

  /* 3rd column */
  &>.intro__table-column:nth-child(3) {
    &>.intro__table-item {
      background: url('../img/Tasklist.png') bottom right no-repeat, linear-gradient(135.82deg, #FFE2F3 19.8%, #F7ABD1 79.6%), #E6EBF0;

      &>p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 46px;

        color: #B00764;
      }
    }
  }
}



//  -------------background pictures --------------
.anim__background {
  position: relative;

  &-mask {
    position: absolute;
    top: -800px;
    left: -45px;
    z-index: 2;

    img {
      width: 183px;
      height: 183px;
    }
  }

  &-cloud {
    position: absolute;
    top: -100px;
    left: 100px;
    z-index: 2;

    img {
      width: 175px;
      height: 129px;
    }
  }

  // purple square
  &-square {
    position: absolute;
    top: -660px;
    right: -27px;
    transform: rotate(45deg);
    background: rgba(254, 94, 122, .5);
    height: 47px;
    width: 43px;
    z-index: 1;
  }
  &-squareB {
    position: absolute;
    top: 250px;
    right: -40px;
    height: 71px;
    width: 71px;
    background: rgba(#4BCFFA, .5);
    z-index: 1;
  }
  &-squareB {
    position: absolute;
    top: 375px;
    left: -20px;
    height: 176px;
    width: 17px;
    background: #FE5E7A;
    z-index: 1;
  }
}

// ----------------2nd Row of table -------------------
.intro__table-row2 {
  &>.intro__table-column {
    height: 467px;
    margin-top: -65px;
    padding: 0;

    &>.intro__table-item {
      &>p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        max-width: 335px;

        margin-top: 35%;
        color: #415466;
      }
    }

    // Left column
    &:first-child {
      &>.intro__table-item {
        margin-right: 17px;
        background: url('../img/Group.png') left no-repeat, url('../img/DNA.png') right center no-repeat, (linear-gradient(0deg, #F6F9FC, #F6F9FC), #E6EBF0);
      }
    }

    // Left right
    &:last-child {
      &>.intro__table-item {
        margin-left: 17px;
        background: url('../img/Group.png') left no-repeat, url('../img/Atom.png') right center no-repeat, (linear-gradient(0deg, #F6F9FC, #F6F9FC), #E6EBF0);
      }
    }
  }
}

// ----------------3nd Row of table -------------------
.intro__table-row3 {
  &>.intro__table-column {
    margin-top: -65px;
    height: 430px;

    &>.intro__table-item {
      &>p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
        margin-top: 240px;
        max-width: 373px;
        color: #415466;
      }
    }
    /* 1st column */
    &:nth-child(1) {
      &>.intro__table-item {
        background: url('../img/Virus.png') (left 35px) no-repeat, (linear-gradient(0deg, #F6F9FC, #F6F9FC), #E6EBF0);
      }
    }
    /* 2nd column */
    &:nth-child(2) {
      &>.intro__table-item {
        background: url('../img/pillsWithoutShadow.png') (left 35px) top no-repeat, (linear-gradient(0deg, #F6F9FC, #F6F9FC), #E6EBF0);
      }
    }
    /* 3rd column */
    &:nth-child(3) {
      &>.intro__table-item {
        background: url('../img/Folder.png') (left 35px) top no-repeat, (linear-gradient(0deg, #F6F9FC, #F6F9FC), #E6EBF0);
      }
    }
  }
}