.our-location {
  padding-bottom: 130px;
  & .anim__background-mask {
    top: -105px;
    left: -140px;
  }
  &__map {
    border-radius: 23px;
    position: relative;
    
    & .desc__map {
      max-width: 587px;
      background: #ffffff;
      box-shadow: 0px 24px 113px rgba(0, 0, 0, 0.3);

      padding: 40px 25px 40px 25px;
      border-radius: 12px;
      z-index: 1;
      position: absolute;
      bottom: 64px;
      right: 47px;
      @media (max-width:1023.9px) {
        padding: 20px;
        // bottom: 10px;
        // right: 10px;
        max-width: 100%;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);;
      }
      @media (max-width:959.9px) {
        // width: 340px;
      }
      @media (max-width:459.9px) {
        // width: auto;
        // left: 10px;
      }
      &-content {
        // padding-left: 0;
      }
      &-wrapper {
        margin-left: 0;
        & .cont__map {
          font-family: "Poppins", sans-serif;

          &-icon {
            margin-right: 10px;
          }
          &-wrapper {
          }
          &-title {
            font-size: 20px;
            line-height: 30px;
            color: #fe5e7a;
          }
          &-text {
            font-size: 17px;
            line-height: 25px;

            color: #000000;
          }
        }
      }
    }
  }
}
