// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&display=swap&subset=cirillic-ext");
// @import "fonts";

// $fontFamily: "Roboto";
// $font-family: 'Yandex Sans Text';
//переменные
// $minWidth: 320;
// $maxWidth: 1366;
// $maxWidthContainer: 1406;
// $md1: $maxWidthContainer + 12;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;
// $baseColor: #178f8f;
// $secondColor: #430692c4;
// $secondHover: #430692e6;
// $thirdColor: #116868;
// $thirdTr: #11d8ff24;

// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     box-sizing: border-box;
// }

// html,
// body{
//     height: 100%;
//     line-height: 1;
//     // font-family: $font-family;
//     // font-feature-settings: 'ss08' on;
//     color: #000;
//     font-size: 14px;
//     &._lock {
//         overflow: hidden;
//     }
//     background-color: #fff;
// }

// a {
//     text-decoration: none;
//     color: #000;
// }

// li, ol, ul {
//     list-style: none;
// }

// img {
//     vertical-align: top;
// }

// h1,h2,h3,h4,h5,h6 {
//     font-weight: inherit;
//     font-size: inherit;
// }

// .input {
//     border-radius: 0 !important;
//     width: 100%;
//     display: block;
//     padding: 0 20px;
// }

// textarea.input {
//     resize: none;
//     padding: 0;
// }
// //swiper
// ._swiper {
//     overflow: hidden;
//     >div {
//         width: 100%;
//         height: 100%;
//         box-sizing: content-box;
//         display: flex;
//         position: relative;
//     }
// }

// .wrapper {
//     width: 100%;
//     min-height: 100%;
//     // overflow: hidden;
//     display: flex;
//     flex-direction: column;
// }

// .content {
//   flex: 1 0 auto;
// }

// .__container {
//   max-width: $maxWidthContainer + px;
//   margin: 0 auto;
//   padding: 0 20px;
// }

// // Кнопка забронировать
// .btn-order {
//   max-width: 160px;
//   margin-right: 40px;
//   // @media (max-width: 445px) {
//   //   display: none;
//   // }
//   @media (min-width: 1366px) {
//     max-width: 204px;
//   }
//   @media (min-width: 1024px) {
//     margin-right: 0;
//   }
//   &__click {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 7px 40px;
//     background: #fed305;
//     border-radius: 8px;
//     height: 48px;
//     width: 100%;
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 15px;

//     transition: background .5s linear, box-shadow .5s linear;
//     &::after {
//       content: "";
//       min-width: 3px;
//       height: 8px;
//       margin-left: 6px;
//       background: url("../img/Vector.svg") center no-repeat;
//       background-size: 3px 8px;
//       @media (min-width: 1441px) {
//         background-size: 6px 12px;
//         min-width: 7px;
//         height: 10px;
//       }
//     }
//     &:hover {
//       cursor: pointer;
//       background: #fee505;

//       box-shadow: 0 0 10px #fee505;
//     }
//     @media (min-width: 1441px) {
//       font-size: 15px;
//     }
//   }
// }

// // анимация появления
// section {
//   opacity: 0;
//   transform: translate3d(-20px, 0, 0);
//   transition: opacity ease-in-out .7s, transform ease-in-out .7s;
// }
// .visible {
//   opacity: 1;
//   transform: translate3d(0, 0, 0);
// }
section {
  background: #f7fafe;
  width: 100%;
  height: 100%;
}

@import "uikit";
@import "header";
@import "intro";
@import "footer";
