.treatment-nav {
  padding-bottom: 131px;
  overflow: hidden;
  .uk-grid>* {
    padding-left: 36px;
  }
  .block__card {
    background: #F6F9FC;
    box-shadow: none;
  }
  & .anim__background-mask {
    top: -105px;
    left: -140px;
  }
  & .block__background-anim {
    position: relative;
    & .anim__bg-atom {
      position: absolute;
      top: -140px;
      right: -220px;
    }
  }
}
