.ta {
  padding-bottom: 131px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  .block__wrapper {
    padding: 48px 52px 50px 52px;
    margin-bottom: 67px;
  }
  .block__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #415466;
  }

  .block___subtitle {
    font-family: "Montserrat", sans-serif;
  }

  &__tag {
    box-shadow: 0px 15px 15px rgba(254, 94, 122, 0.31);
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
  }

  &__content {
    margin: 47px 0 20px 0;

    font-size: 20px;
    line-height: 39px;
    color: #000000;

    img {
      border-radius: 23px;
    }
  }
  & .anim__background-mask {
    top: -105px;
    left: -140px;
  }
  & .block__background-anim {
    position: relative;
    & .anim__bg-atom {
      position: absolute;
      top: -140px;
      right: -220px;
    }
  }

  // Symptoms
  &__symptoms {
    margin-bottom: 67px;
    p {
      font-size: 20px;
      line-height: 39px;
      color: #000000;
    }
  }
}

// Laboratory diagnostic
.lab__diag {
  .block__tag {
    position: absolute;
    top: 35px;
    right: 15px;
    box-shadow: 0px 5px 15px rgba(236, 87, 115, 0.3);
    @media (max-width: 1280px) {
      top: -10px;
      font-size: 16px;
    }
  }
}

// accordion btns
.accordion__btns .btn {
  color: #ffffff;
  box-shadow: 0px 15px 15px rgba(254, 94, 122, 0.31);
  background: #fe5e7a;
  padding: 10px 19px;
  &:hover {
    background: #0d1026;
    box-shadow: 0px 15px 15px rgba(36, 36, 36, 0.31);
    color: #fff;
  }
}
.uk-subnav-pill > .uk-active > a {
  background: #0d1026;
  box-shadow: 0px 15px 15px rgba(36, 36, 36, 0.31);
  color: #fff;
}

// consultation
.ta__consult {
  &-card {
    font-family: "Poppins", sans-serif;

    padding: 28px 28px;
    border-radius: 12px;
    min-height: 90px;
    &-icon {
      margin-right: 10px;
      min-width: 39px;
    }
    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 37px;
      color: #000000;
    }
    &-text {
      font-size: 17px;
      line-height: 158.7%;
      letter-spacing: 0.12px;
      color: #363049;
      opacity: 0.7;
    }
  }
}
